@model FirstTask
@{
    ViewData["Title"] = "Первое задание";

}

<h4>@ViewData["Title"]</h4>

<div>
    <h5>Массив содержит числа:</h5>
    
        @foreach (int i in Model.array)
        {
            <p>@i;</p>
        }

    <h5>Сумма сложения каждого второго нечетного числа из массива чисел:</h5>
        @Model.Result()

</div>