@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-1">Здравствуйте!</h1>

        <h4 class="display-4">Выберите задание</h4>

        
    </div>

    <ul>
        <li><a class="s" asp-controller="Task" asp-action="FirstTask">Первое задание</a></li>
        <li><a asp-controller="Task" asp-action="SecondTask">Второе задание</a></li>
        <li><a asp-controller="Task" asp-action="ThirdTask">Третье задание</a></li>
    </ul>
