@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h3>Выберите задание</h3>
    </div>

    <ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link" asp-controller="Task" asp-action="FirstTask">Первое задание</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Task" asp-action="SecondTask">Второе задание</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Task" asp-action="ThirdTask">Третье задание</a></li>
    </ul>
