
@{

    ViewData["Title"] = "Третье задание";
}

<h4>@ViewData["Title"]</h4>

@using (Html.BeginForm("ThirdTask", "Task", FormMethod.Post))
{
    <p>
        @Html.Label("InputLabel", "Введите строку на проверку:")
        @Html.TextBox("UserInput")
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>

}